<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误页面</title>
    <style type="text/css">
        *{
            background-color: darkorange;
        }
        .main h1 {
            text-align: center;
            color: black;
            font-weight: bold;
            margin-top: 150px;
        }
        .main h4 {
            text-align: center;
            color: blue;
            font-size: 25px;
        }
    </style>
</head>
<body>
<div class="main">
    <h1>T^T页面加载错误。。。。。。。。。。</h1>
    <h4>{{.}}</h4>
</div>

</body>
</html>